--
-- PostgreSQL database dump
--

\restrict yeYHzZ3az1ton9mkz7SH2qxVO6KJrcPB1jy0FhtU3OZow8yXJvGjc5f0aYHZxRz

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO vulnscope;

--
-- Name: asset_discovery_results; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.asset_discovery_results (
    id integer NOT NULL,
    scan_job_id character varying NOT NULL,
    ip_address character varying NOT NULL,
    hostname character varying,
    mac_address character varying,
    vendor character varying,
    os_name character varying,
    os_family character varying,
    os_accuracy character varying,
    device_type character varying,
    role character varying,
    open_ports json,
    web_apps json,
    containers json,
    cloud_instance json,
    discovered_at timestamp without time zone
);


ALTER TABLE public.asset_discovery_results OWNER TO vulnscope;

--
-- Name: asset_discovery_results_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.asset_discovery_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.asset_discovery_results_id_seq OWNER TO vulnscope;

--
-- Name: asset_discovery_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.asset_discovery_results_id_seq OWNED BY public.asset_discovery_results.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    user_id integer,
    action character varying NOT NULL,
    resource_type character varying,
    resource_id character varying,
    details json,
    "timestamp" timestamp without time zone
);


ALTER TABLE public.audit_logs OWNER TO vulnscope;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_logs_id_seq OWNER TO vulnscope;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: auth_scan_findings; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.auth_scan_findings (
    id integer NOT NULL,
    scan_job_id character varying NOT NULL,
    ip_address character varying NOT NULL,
    os_details character varying,
    packages json,
    local_users json,
    patch_levels json,
    discovered_at timestamp without time zone
);


ALTER TABLE public.auth_scan_findings OWNER TO vulnscope;

--
-- Name: auth_scan_findings_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.auth_scan_findings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.auth_scan_findings_id_seq OWNER TO vulnscope;

--
-- Name: auth_scan_findings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.auth_scan_findings_id_seq OWNED BY public.auth_scan_findings.id;


--
-- Name: cpe_catalog; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.cpe_catalog (
    id integer NOT NULL,
    cpe_string character varying NOT NULL,
    vendor character varying,
    product character varying,
    version character varying
);


ALTER TABLE public.cpe_catalog OWNER TO vulnscope;

--
-- Name: cpe_catalog_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.cpe_catalog_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cpe_catalog_id_seq OWNER TO vulnscope;

--
-- Name: cpe_catalog_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.cpe_catalog_id_seq OWNED BY public.cpe_catalog.id;


--
-- Name: credentials_store; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.credentials_store (
    id integer NOT NULL,
    name character varying NOT NULL,
    auth_type character varying NOT NULL,
    username character varying,
    encrypted_password text,
    private_key text
);


ALTER TABLE public.credentials_store OWNER TO vulnscope;

--
-- Name: credentials_store_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.credentials_store_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.credentials_store_id_seq OWNER TO vulnscope;

--
-- Name: credentials_store_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.credentials_store_id_seq OWNED BY public.credentials_store.id;


--
-- Name: cve_catalog; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.cve_catalog (
    cve_id character varying NOT NULL,
    description text,
    cvss_score double precision,
    severity character varying,
    published_date character varying,
    json_data json
);


ALTER TABLE public.cve_catalog OWNER TO vulnscope;

--
-- Name: devices; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.devices (
    id integer NOT NULL,
    ip_address character varying NOT NULL,
    hostname character varying,
    mac_address character varying,
    os_name character varying,
    os_version character varying,
    status character varying,
    last_seen timestamp without time zone
);


ALTER TABLE public.devices OWNER TO vulnscope;

--
-- Name: devices_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.devices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.devices_id_seq OWNER TO vulnscope;

--
-- Name: devices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.devices_id_seq OWNED BY public.devices.id;


--
-- Name: enumeration_results; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.enumeration_results (
    id integer NOT NULL,
    scan_job_id character varying NOT NULL,
    ip_address character varying NOT NULL,
    smb_shares json,
    smb_users json,
    snmp_sysdescr text,
    snmp_interfaces json,
    dns_records json,
    ssl_certs json,
    os_info character varying,
    discovered_at timestamp without time zone
);


ALTER TABLE public.enumeration_results OWNER TO vulnscope;

--
-- Name: enumeration_results_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.enumeration_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.enumeration_results_id_seq OWNER TO vulnscope;

--
-- Name: enumeration_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.enumeration_results_id_seq OWNED BY public.enumeration_results.id;


--
-- Name: firewall_rules; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.firewall_rules (
    id integer NOT NULL,
    vulnerability_id integer,
    rule_action character varying NOT NULL,
    protocol character varying NOT NULL,
    port integer,
    description text
);


ALTER TABLE public.firewall_rules OWNER TO vulnscope;

--
-- Name: firewall_rules_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.firewall_rules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.firewall_rules_id_seq OWNER TO vulnscope;

--
-- Name: firewall_rules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.firewall_rules_id_seq OWNED BY public.firewall_rules.id;


--
-- Name: installed_software; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.installed_software (
    id integer NOT NULL,
    device_id integer NOT NULL,
    name character varying NOT NULL,
    version character varying,
    vendor character varying,
    cpe character varying
);


ALTER TABLE public.installed_software OWNER TO vulnscope;

--
-- Name: installed_software_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.installed_software_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.installed_software_id_seq OWNER TO vulnscope;

--
-- Name: installed_software_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.installed_software_id_seq OWNED BY public.installed_software.id;


--
-- Name: license_activations; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.license_activations (
    id integer NOT NULL,
    license_id integer,
    device_id character varying,
    activated_at timestamp without time zone,
    is_active boolean,
    last_ping timestamp without time zone
);


ALTER TABLE public.license_activations OWNER TO vulnscope;

--
-- Name: license_activations_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.license_activations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.license_activations_id_seq OWNER TO vulnscope;

--
-- Name: license_activations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.license_activations_id_seq OWNED BY public.license_activations.id;


--
-- Name: license_audit_logs; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.license_audit_logs (
    id integer NOT NULL,
    action character varying,
    license_key character varying,
    device_id character varying,
    "timestamp" timestamp without time zone,
    details text
);


ALTER TABLE public.license_audit_logs OWNER TO vulnscope;

--
-- Name: license_audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.license_audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.license_audit_logs_id_seq OWNER TO vulnscope;

--
-- Name: license_audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.license_audit_logs_id_seq OWNED BY public.license_audit_logs.id;


--
-- Name: licenses; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.licenses (
    id integer NOT NULL,
    license_key character varying,
    customer_name character varying,
    tier character varying,
    features character varying,
    max_scans integer,
    max_assets integer,
    issued_at timestamp without time zone,
    expires_at timestamp without time zone,
    signature text,
    license_id character varying,
    machine_fingerprint character varying,
    consumed boolean,
    consumed_at timestamp without time zone,
    activation_hash text
);


ALTER TABLE public.licenses OWNER TO vulnscope;

--
-- Name: licenses_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.licenses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.licenses_id_seq OWNER TO vulnscope;

--
-- Name: licenses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.licenses_id_seq OWNED BY public.licenses.id;


--
-- Name: port_scan_results; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.port_scan_results (
    id integer NOT NULL,
    scan_job_id character varying NOT NULL,
    ip_address character varying NOT NULL,
    port integer NOT NULL,
    protocol character varying NOT NULL,
    state character varying,
    service character varying,
    product character varying,
    version character varying,
    extrainfo character varying,
    cpe character varying,
    banner text,
    scan_method character varying,
    risk character varying,
    reason character varying,
    scripts json,
    discovered_at timestamp without time zone
);


ALTER TABLE public.port_scan_results OWNER TO vulnscope;

--
-- Name: port_scan_results_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.port_scan_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.port_scan_results_id_seq OWNER TO vulnscope;

--
-- Name: port_scan_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.port_scan_results_id_seq OWNED BY public.port_scan_results.id;


--
-- Name: port_scan_summaries; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.port_scan_summaries (
    id integer NOT NULL,
    scan_job_id character varying NOT NULL,
    ip_address character varying NOT NULL,
    hostname character varying,
    os_name character varying,
    os_family character varying,
    os_accuracy character varying,
    device_type character varying,
    total_open_ports integer,
    tcp_open integer,
    udp_open integer,
    critical_ports integer,
    high_risk_ports integer,
    overall_risk character varying,
    discovered_at timestamp without time zone
);


ALTER TABLE public.port_scan_summaries OWNER TO vulnscope;

--
-- Name: port_scan_summaries_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.port_scan_summaries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.port_scan_summaries_id_seq OWNER TO vulnscope;

--
-- Name: port_scan_summaries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.port_scan_summaries_id_seq OWNED BY public.port_scan_summaries.id;


--
-- Name: remediation_library; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.remediation_library (
    id integer NOT NULL,
    vulnerability_id integer NOT NULL,
    patch_version character varying,
    recommended_update text,
    workaround text,
    mitigation text
);


ALTER TABLE public.remediation_library OWNER TO vulnscope;

--
-- Name: remediation_library_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.remediation_library_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.remediation_library_id_seq OWNER TO vulnscope;

--
-- Name: remediation_library_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.remediation_library_id_seq OWNED BY public.remediation_library.id;


--
-- Name: reports; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.reports (
    id integer NOT NULL,
    scan_job_id character varying,
    report_type character varying NOT NULL,
    file_path character varying NOT NULL,
    generated_by integer,
    generated_at timestamp without time zone,
    summary text
);


ALTER TABLE public.reports OWNER TO vulnscope;

--
-- Name: reports_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.reports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.reports_id_seq OWNER TO vulnscope;

--
-- Name: reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.reports_id_seq OWNED BY public.reports.id;


--
-- Name: revoked_licenses; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.revoked_licenses (
    id integer NOT NULL,
    license_key character varying,
    revoked_at timestamp without time zone,
    reason character varying
);


ALTER TABLE public.revoked_licenses OWNER TO vulnscope;

--
-- Name: revoked_licenses_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.revoked_licenses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.revoked_licenses_id_seq OWNER TO vulnscope;

--
-- Name: revoked_licenses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.revoked_licenses_id_seq OWNED BY public.revoked_licenses.id;


--
-- Name: risk_scoring_results; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.risk_scoring_results (
    id integer NOT NULL,
    scan_job_id character varying NOT NULL,
    ip_address character varying NOT NULL,
    vulnerability_id character varying NOT NULL,
    description character varying,
    base_severity character varying,
    base_score double precision,
    environmental_factors json,
    adjusted_score double precision,
    final_severity character varying NOT NULL,
    calculated_at timestamp without time zone
);


ALTER TABLE public.risk_scoring_results OWNER TO vulnscope;

--
-- Name: risk_scoring_results_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.risk_scoring_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.risk_scoring_results_id_seq OWNER TO vulnscope;

--
-- Name: risk_scoring_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.risk_scoring_results_id_seq OWNED BY public.risk_scoring_results.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying NOT NULL,
    permissions character varying
);


ALTER TABLE public.roles OWNER TO vulnscope;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO vulnscope;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: scan_jobs; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.scan_jobs (
    id character varying NOT NULL,
    target character varying NOT NULL,
    status character varying,
    scan_type character varying NOT NULL,
    started_at timestamp without time zone,
    completed_at timestamp without time zone,
    error_message text,
    task_id character varying,
    is_archived boolean
);


ALTER TABLE public.scan_jobs OWNER TO vulnscope;

--
-- Name: scan_results; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.scan_results (
    id integer NOT NULL,
    scan_job_id character varying NOT NULL,
    device_id integer NOT NULL,
    port integer,
    protocol character varying,
    service_name character varying,
    service_version character varying
);


ALTER TABLE public.scan_results OWNER TO vulnscope;

--
-- Name: scan_results_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.scan_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.scan_results_id_seq OWNER TO vulnscope;

--
-- Name: scan_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.scan_results_id_seq OWNED BY public.scan_results.id;


--
-- Name: service_fingerprint_results; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.service_fingerprint_results (
    id integer NOT NULL,
    scan_job_id character varying NOT NULL,
    ip_address character varying NOT NULL,
    port integer NOT NULL,
    protocol character varying NOT NULL,
    service character varying,
    product character varying,
    version character varying,
    extrainfo character varying,
    cpe character varying,
    banner text,
    http_server character varying,
    discovered_at timestamp without time zone
);


ALTER TABLE public.service_fingerprint_results OWNER TO vulnscope;

--
-- Name: service_fingerprint_results_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.service_fingerprint_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.service_fingerprint_results_id_seq OWNER TO vulnscope;

--
-- Name: service_fingerprint_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.service_fingerprint_results_id_seq OWNED BY public.service_fingerprint_results.id;


--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.system_settings (
    key character varying NOT NULL,
    value character varying
);


ALTER TABLE public.system_settings OWNER TO vulnscope;

--
-- Name: users; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying NOT NULL,
    hashed_password character varying NOT NULL,
    is_active boolean,
    role_id integer NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO vulnscope;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO vulnscope;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: validation_results; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.validation_results (
    id integer NOT NULL,
    scan_job_id character varying NOT NULL,
    ip_address character varying NOT NULL,
    vulnerability_id character varying NOT NULL,
    is_confirmed boolean,
    is_false_positive boolean,
    verification_method character varying,
    proof_of_concept text,
    discovered_at timestamp without time zone
);


ALTER TABLE public.validation_results OWNER TO vulnscope;

--
-- Name: validation_results_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.validation_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.validation_results_id_seq OWNER TO vulnscope;

--
-- Name: validation_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.validation_results_id_seq OWNED BY public.validation_results.id;


--
-- Name: vulnerabilities; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.vulnerabilities (
    id integer NOT NULL,
    scan_result_id integer NOT NULL,
    cve_id character varying NOT NULL,
    risk_score double precision,
    priority integer,
    status character varying DEFAULT 'Open'::character varying NOT NULL,
    reason text
);


ALTER TABLE public.vulnerabilities OWNER TO vulnscope;

--
-- Name: vulnerabilities_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.vulnerabilities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.vulnerabilities_id_seq OWNER TO vulnscope;

--
-- Name: vulnerabilities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.vulnerabilities_id_seq OWNED BY public.vulnerabilities.id;


--
-- Name: vulnerability_scan_findings; Type: TABLE; Schema: public; Owner: vulnscope
--

CREATE TABLE public.vulnerability_scan_findings (
    id integer NOT NULL,
    scan_job_id character varying NOT NULL,
    ip_address character varying NOT NULL,
    port integer NOT NULL,
    protocol character varying NOT NULL,
    service character varying,
    product character varying,
    cves json,
    misconfigurations json,
    discovered_at timestamp without time zone
);


ALTER TABLE public.vulnerability_scan_findings OWNER TO vulnscope;

--
-- Name: vulnerability_scan_findings_id_seq; Type: SEQUENCE; Schema: public; Owner: vulnscope
--

CREATE SEQUENCE public.vulnerability_scan_findings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.vulnerability_scan_findings_id_seq OWNER TO vulnscope;

--
-- Name: vulnerability_scan_findings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vulnscope
--

ALTER SEQUENCE public.vulnerability_scan_findings_id_seq OWNED BY public.vulnerability_scan_findings.id;


--
-- Name: asset_discovery_results id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.asset_discovery_results ALTER COLUMN id SET DEFAULT nextval('public.asset_discovery_results_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: auth_scan_findings id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.auth_scan_findings ALTER COLUMN id SET DEFAULT nextval('public.auth_scan_findings_id_seq'::regclass);


--
-- Name: cpe_catalog id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.cpe_catalog ALTER COLUMN id SET DEFAULT nextval('public.cpe_catalog_id_seq'::regclass);


--
-- Name: credentials_store id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.credentials_store ALTER COLUMN id SET DEFAULT nextval('public.credentials_store_id_seq'::regclass);


--
-- Name: devices id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.devices ALTER COLUMN id SET DEFAULT nextval('public.devices_id_seq'::regclass);


--
-- Name: enumeration_results id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.enumeration_results ALTER COLUMN id SET DEFAULT nextval('public.enumeration_results_id_seq'::regclass);


--
-- Name: firewall_rules id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.firewall_rules ALTER COLUMN id SET DEFAULT nextval('public.firewall_rules_id_seq'::regclass);


--
-- Name: installed_software id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.installed_software ALTER COLUMN id SET DEFAULT nextval('public.installed_software_id_seq'::regclass);


--
-- Name: license_activations id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.license_activations ALTER COLUMN id SET DEFAULT nextval('public.license_activations_id_seq'::regclass);


--
-- Name: license_audit_logs id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.license_audit_logs ALTER COLUMN id SET DEFAULT nextval('public.license_audit_logs_id_seq'::regclass);


--
-- Name: licenses id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.licenses ALTER COLUMN id SET DEFAULT nextval('public.licenses_id_seq'::regclass);


--
-- Name: port_scan_results id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.port_scan_results ALTER COLUMN id SET DEFAULT nextval('public.port_scan_results_id_seq'::regclass);


--
-- Name: port_scan_summaries id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.port_scan_summaries ALTER COLUMN id SET DEFAULT nextval('public.port_scan_summaries_id_seq'::regclass);


--
-- Name: remediation_library id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.remediation_library ALTER COLUMN id SET DEFAULT nextval('public.remediation_library_id_seq'::regclass);


--
-- Name: reports id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.reports ALTER COLUMN id SET DEFAULT nextval('public.reports_id_seq'::regclass);


--
-- Name: revoked_licenses id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.revoked_licenses ALTER COLUMN id SET DEFAULT nextval('public.revoked_licenses_id_seq'::regclass);


--
-- Name: risk_scoring_results id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.risk_scoring_results ALTER COLUMN id SET DEFAULT nextval('public.risk_scoring_results_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: scan_results id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.scan_results ALTER COLUMN id SET DEFAULT nextval('public.scan_results_id_seq'::regclass);


--
-- Name: service_fingerprint_results id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.service_fingerprint_results ALTER COLUMN id SET DEFAULT nextval('public.service_fingerprint_results_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: validation_results id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.validation_results ALTER COLUMN id SET DEFAULT nextval('public.validation_results_id_seq'::regclass);


--
-- Name: vulnerabilities id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.vulnerabilities ALTER COLUMN id SET DEFAULT nextval('public.vulnerabilities_id_seq'::regclass);


--
-- Name: vulnerability_scan_findings id; Type: DEFAULT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.vulnerability_scan_findings ALTER COLUMN id SET DEFAULT nextval('public.vulnerability_scan_findings_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.alembic_version (version_num) FROM stdin;
2d23fe1445f9
\.


--
-- Data for Name: asset_discovery_results; Type: TABLE DATA; Schema: public; Owner: vulnscope
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.audit_logs (id, user_id, action, resource_type, resource_id, details, "timestamp") FROM stdin;
\.


--
-- Data for Name: auth_scan_findings; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.auth_scan_findings (id, scan_job_id, ip_address, os_details, packages, local_users, patch_levels, discovered_at) FROM stdin;
\.


--
-- Data for Name: cpe_catalog; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.cpe_catalog (id, cpe_string, vendor, product, version) FROM stdin;
\.


--
-- Data for Name: credentials_store; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.credentials_store (id, name, auth_type, username, encrypted_password, private_key) FROM stdin;
\.


--
-- Data for Name: cve_catalog; Type: TABLE DATA; Schema: public; Owner: vulnscope
--



--
-- Data for Name: devices; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.devices (id, ip_address, hostname, mac_address, os_name, os_version, status, last_seen) FROM stdin;
3	192.168.0.177	\N	\N	Unknown	\N	up	2026-05-29 01:32:50.7522
\.


--
-- Data for Name: enumeration_results; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.enumeration_results (id, scan_job_id, ip_address, smb_shares, smb_users, snmp_sysdescr, snmp_interfaces, dns_records, ssl_certs, os_info, discovered_at) FROM stdin;
6	fe49237b-b956-4414-8be3-23b78e51c2c5	192.168.0.177	[]	[]		[]	[]	[]		2026-05-29 01:16:25.340876
\.


--
-- Data for Name: firewall_rules; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.firewall_rules (id, vulnerability_id, rule_action, protocol, port, description) FROM stdin;
\.


--
-- Data for Name: installed_software; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.installed_software (id, device_id, name, version, vendor, cpe) FROM stdin;
\.


--
-- Data for Name: license_activations; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.license_activations (id, license_id, device_id, activated_at, is_active, last_ping) FROM stdin;
22	22	local-browser-device	2026-05-28 18:48:22.728891	t	2026-05-28 18:48:22.728893
23	23	local-browser-device	2026-05-28 18:59:41.26824	t	2026-05-28 18:59:41.268242
\.


--
-- Data for Name: license_audit_logs; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.license_audit_logs (id, action, license_key, device_id, "timestamp", details) FROM stdin;
28	OFFLINE_ACTIVATION	BYF6-LLMF-FC3X-WW28	local-browser-device	2026-05-28 18:48:22.727834	Offline license activation successful.
29	OFFLINE_ACTIVATION	OCW7-QYVV-22V7-Y5SQ	local-browser-device	2026-05-28 18:59:41.267807	Offline license activation successful.
\.


--
-- Data for Name: licenses; Type: TABLE DATA; Schema: public; Owner: vulnscope
--



--
-- Data for Name: port_scan_results; Type: TABLE DATA; Schema: public; Owner: vulnscope
--



--
-- Data for Name: port_scan_summaries; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.port_scan_summaries (id, scan_job_id, ip_address, hostname, os_name, os_family, os_accuracy, device_type, total_open_ports, tcp_open, udp_open, critical_ports, high_risk_ports, overall_risk, discovered_at) FROM stdin;
1	fe49237b-b956-4414-8be3-23b78e51c2c5	192.168.0.177						33	12	21	2	7	CRITICAL	2026-05-29 01:15:35.695608
\.


--
-- Data for Name: remediation_library; Type: TABLE DATA; Schema: public; Owner: vulnscope
--



--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.reports (id, scan_job_id, report_type, file_path, generated_by, generated_at, summary) FROM stdin;
\.


--
-- Data for Name: revoked_licenses; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.revoked_licenses (id, license_key, revoked_at, reason) FROM stdin;
\.


--
-- Data for Name: risk_scoring_results; Type: TABLE DATA; Schema: public; Owner: vulnscope
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.roles (id, name, permissions) FROM stdin;
1	admin	\N
\.


--
-- Data for Name: scan_jobs; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.scan_jobs (id, target, status, scan_type, started_at, completed_at, error_message, task_id, is_archived) FROM stdin;
fe49237b-b956-4414-8be3-23b78e51c2c5	192.168.0.177	COMPLETED	full	2026-05-29 01:10:59.537996	2026-05-29 01:27:00.349062	\N	5ba1af73-d3d9-47ae-8849-d2a2826773c5	f
\.


--
-- Data for Name: scan_results; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.scan_results (id, scan_job_id, device_id, port, protocol, service_name, service_version) FROM stdin;
48	fe49237b-b956-4414-8be3-23b78e51c2c5	3	\N	tcp	msrpc	\N
\.


--
-- Data for Name: service_fingerprint_results; Type: TABLE DATA; Schema: public; Owner: vulnscope
--



--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.system_settings (key, value) FROM stdin;
webhook_url	
webhook_auth_token	
ai_report_mode	true
ai_provider	google
ai_api_key	AIzaSyB6uFniKGGj--3kBFvqshN2LBvpqzEMOXc
ai_model	
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.users (id, email, hashed_password, is_active, role_id, created_at) FROM stdin;
1	admin1	$2b$12$mki4kUsgQihJepgR7w84duvDW8YEW8wuzQCzeyF.3egDMnal5hxz.	t	1	2026-05-26 11:41:29.194804
2	admin	$2b$12$d5fAW8tEP0EHWZjp2hffP.u4AXpn/hiXAZSmy0A9Y1aplV4/JWBmG	t	1	2026-05-26 11:41:35.108803
\.


--
-- Data for Name: validation_results; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.validation_results (id, scan_job_id, ip_address, vulnerability_id, is_confirmed, is_false_positive, verification_method, proof_of_concept, discovered_at) FROM stdin;
\.


--
-- Data for Name: vulnerabilities; Type: TABLE DATA; Schema: public; Owner: vulnscope
--

COPY public.vulnerabilities (id, scan_result_id, cve_id, risk_score, priority, status, reason) FROM stdin;
27	48	CVE-2024-0056	50	\N	Open	\N
28	48	MISC-DF64215C	50	\N	Open	\N
29	48	CVE-2024-4395	50	\N	Open	\N
30	48	MISC-335D2E7E	50	\N	Open	\N
\.


--
-- Data for Name: vulnerability_scan_findings; Type: TABLE DATA; Schema: public; Owner: vulnscope
--



--
-- Name: asset_discovery_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.asset_discovery_results_id_seq', 1, true);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 1, false);


--
-- Name: auth_scan_findings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.auth_scan_findings_id_seq', 1, false);


--
-- Name: cpe_catalog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.cpe_catalog_id_seq', 1, false);


--
-- Name: credentials_store_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.credentials_store_id_seq', 1, false);


--
-- Name: devices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.devices_id_seq', 3, true);


--
-- Name: enumeration_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.enumeration_results_id_seq', 6, true);


--
-- Name: firewall_rules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.firewall_rules_id_seq', 1, false);


--
-- Name: installed_software_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.installed_software_id_seq', 1, false);


--
-- Name: license_activations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.license_activations_id_seq', 23, true);


--
-- Name: license_audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.license_audit_logs_id_seq', 29, true);


--
-- Name: licenses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.licenses_id_seq', 23, true);


--
-- Name: port_scan_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.port_scan_results_id_seq', 33, true);


--
-- Name: port_scan_summaries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.port_scan_summaries_id_seq', 1, true);


--
-- Name: remediation_library_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.remediation_library_id_seq', 11, true);


--
-- Name: reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.reports_id_seq', 1, true);


--
-- Name: revoked_licenses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.revoked_licenses_id_seq', 1, false);


--
-- Name: risk_scoring_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.risk_scoring_results_id_seq', 39, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.roles_id_seq', 1, true);


--
-- Name: scan_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.scan_results_id_seq', 48, true);


--
-- Name: service_fingerprint_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.service_fingerprint_results_id_seq', 6, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: validation_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.validation_results_id_seq', 1, false);


--
-- Name: vulnerabilities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.vulnerabilities_id_seq', 30, true);


--
-- Name: vulnerability_scan_findings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vulnscope
--

SELECT pg_catalog.setval('public.vulnerability_scan_findings_id_seq', 35, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: asset_discovery_results asset_discovery_results_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.asset_discovery_results
    ADD CONSTRAINT asset_discovery_results_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: auth_scan_findings auth_scan_findings_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.auth_scan_findings
    ADD CONSTRAINT auth_scan_findings_pkey PRIMARY KEY (id);


--
-- Name: cpe_catalog cpe_catalog_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.cpe_catalog
    ADD CONSTRAINT cpe_catalog_pkey PRIMARY KEY (id);


--
-- Name: credentials_store credentials_store_name_key; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.credentials_store
    ADD CONSTRAINT credentials_store_name_key UNIQUE (name);


--
-- Name: credentials_store credentials_store_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.credentials_store
    ADD CONSTRAINT credentials_store_pkey PRIMARY KEY (id);


--
-- Name: cve_catalog cve_catalog_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.cve_catalog
    ADD CONSTRAINT cve_catalog_pkey PRIMARY KEY (cve_id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: enumeration_results enumeration_results_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.enumeration_results
    ADD CONSTRAINT enumeration_results_pkey PRIMARY KEY (id);


--
-- Name: firewall_rules firewall_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.firewall_rules
    ADD CONSTRAINT firewall_rules_pkey PRIMARY KEY (id);


--
-- Name: installed_software installed_software_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.installed_software
    ADD CONSTRAINT installed_software_pkey PRIMARY KEY (id);


--
-- Name: license_activations license_activations_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.license_activations
    ADD CONSTRAINT license_activations_pkey PRIMARY KEY (id);


--
-- Name: license_audit_logs license_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.license_audit_logs
    ADD CONSTRAINT license_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: licenses licenses_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_pkey PRIMARY KEY (id);


--
-- Name: port_scan_results port_scan_results_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.port_scan_results
    ADD CONSTRAINT port_scan_results_pkey PRIMARY KEY (id);


--
-- Name: port_scan_summaries port_scan_summaries_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.port_scan_summaries
    ADD CONSTRAINT port_scan_summaries_pkey PRIMARY KEY (id);


--
-- Name: remediation_library remediation_library_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.remediation_library
    ADD CONSTRAINT remediation_library_pkey PRIMARY KEY (id);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: revoked_licenses revoked_licenses_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.revoked_licenses
    ADD CONSTRAINT revoked_licenses_pkey PRIMARY KEY (id);


--
-- Name: risk_scoring_results risk_scoring_results_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.risk_scoring_results
    ADD CONSTRAINT risk_scoring_results_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: scan_jobs scan_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.scan_jobs
    ADD CONSTRAINT scan_jobs_pkey PRIMARY KEY (id);


--
-- Name: scan_results scan_results_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.scan_results
    ADD CONSTRAINT scan_results_pkey PRIMARY KEY (id);


--
-- Name: service_fingerprint_results service_fingerprint_results_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.service_fingerprint_results
    ADD CONSTRAINT service_fingerprint_results_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (key);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: validation_results validation_results_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.validation_results
    ADD CONSTRAINT validation_results_pkey PRIMARY KEY (id);


--
-- Name: vulnerabilities vulnerabilities_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.vulnerabilities
    ADD CONSTRAINT vulnerabilities_pkey PRIMARY KEY (id);


--
-- Name: vulnerability_scan_findings vulnerability_scan_findings_pkey; Type: CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.vulnerability_scan_findings
    ADD CONSTRAINT vulnerability_scan_findings_pkey PRIMARY KEY (id);


--
-- Name: ix_asset_discovery_results_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_asset_discovery_results_id ON public.asset_discovery_results USING btree (id);


--
-- Name: ix_asset_discovery_results_scan_job_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_asset_discovery_results_scan_job_id ON public.asset_discovery_results USING btree (scan_job_id);


--
-- Name: ix_audit_logs_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_audit_logs_id ON public.audit_logs USING btree (id);


--
-- Name: ix_auth_scan_findings_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_auth_scan_findings_id ON public.auth_scan_findings USING btree (id);


--
-- Name: ix_auth_scan_findings_ip_address; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_auth_scan_findings_ip_address ON public.auth_scan_findings USING btree (ip_address);


--
-- Name: ix_auth_scan_findings_scan_job_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_auth_scan_findings_scan_job_id ON public.auth_scan_findings USING btree (scan_job_id);


--
-- Name: ix_cpe_catalog_cpe_string; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE UNIQUE INDEX ix_cpe_catalog_cpe_string ON public.cpe_catalog USING btree (cpe_string);


--
-- Name: ix_cpe_catalog_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_cpe_catalog_id ON public.cpe_catalog USING btree (id);


--
-- Name: ix_credentials_store_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_credentials_store_id ON public.credentials_store USING btree (id);


--
-- Name: ix_cve_catalog_cve_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_cve_catalog_cve_id ON public.cve_catalog USING btree (cve_id);


--
-- Name: ix_devices_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_devices_id ON public.devices USING btree (id);


--
-- Name: ix_devices_ip_address; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_devices_ip_address ON public.devices USING btree (ip_address);


--
-- Name: ix_enumeration_results_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_enumeration_results_id ON public.enumeration_results USING btree (id);


--
-- Name: ix_enumeration_results_scan_job_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_enumeration_results_scan_job_id ON public.enumeration_results USING btree (scan_job_id);


--
-- Name: ix_firewall_rules_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_firewall_rules_id ON public.firewall_rules USING btree (id);


--
-- Name: ix_installed_software_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_installed_software_id ON public.installed_software USING btree (id);


--
-- Name: ix_installed_software_name; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_installed_software_name ON public.installed_software USING btree (name);


--
-- Name: ix_license_activations_device_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_license_activations_device_id ON public.license_activations USING btree (device_id);


--
-- Name: ix_license_activations_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_license_activations_id ON public.license_activations USING btree (id);


--
-- Name: ix_license_audit_logs_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_license_audit_logs_id ON public.license_audit_logs USING btree (id);


--
-- Name: ix_licenses_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_licenses_id ON public.licenses USING btree (id);


--
-- Name: ix_licenses_license_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE UNIQUE INDEX ix_licenses_license_id ON public.licenses USING btree (license_id);


--
-- Name: ix_licenses_license_key; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE UNIQUE INDEX ix_licenses_license_key ON public.licenses USING btree (license_key);


--
-- Name: ix_port_scan_results_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_port_scan_results_id ON public.port_scan_results USING btree (id);


--
-- Name: ix_port_scan_results_scan_job_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_port_scan_results_scan_job_id ON public.port_scan_results USING btree (scan_job_id);


--
-- Name: ix_port_scan_summaries_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_port_scan_summaries_id ON public.port_scan_summaries USING btree (id);


--
-- Name: ix_port_scan_summaries_scan_job_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_port_scan_summaries_scan_job_id ON public.port_scan_summaries USING btree (scan_job_id);


--
-- Name: ix_remediation_library_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_remediation_library_id ON public.remediation_library USING btree (id);


--
-- Name: ix_reports_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_reports_id ON public.reports USING btree (id);


--
-- Name: ix_revoked_licenses_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_revoked_licenses_id ON public.revoked_licenses USING btree (id);


--
-- Name: ix_revoked_licenses_license_key; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE UNIQUE INDEX ix_revoked_licenses_license_key ON public.revoked_licenses USING btree (license_key);


--
-- Name: ix_risk_scoring_results_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_risk_scoring_results_id ON public.risk_scoring_results USING btree (id);


--
-- Name: ix_risk_scoring_results_ip_address; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_risk_scoring_results_ip_address ON public.risk_scoring_results USING btree (ip_address);


--
-- Name: ix_risk_scoring_results_scan_job_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_risk_scoring_results_scan_job_id ON public.risk_scoring_results USING btree (scan_job_id);


--
-- Name: ix_roles_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_roles_id ON public.roles USING btree (id);


--
-- Name: ix_roles_name; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE UNIQUE INDEX ix_roles_name ON public.roles USING btree (name);


--
-- Name: ix_scan_jobs_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_scan_jobs_id ON public.scan_jobs USING btree (id);


--
-- Name: ix_scan_results_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_scan_results_id ON public.scan_results USING btree (id);


--
-- Name: ix_service_fingerprint_results_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_service_fingerprint_results_id ON public.service_fingerprint_results USING btree (id);


--
-- Name: ix_service_fingerprint_results_scan_job_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_service_fingerprint_results_scan_job_id ON public.service_fingerprint_results USING btree (scan_job_id);


--
-- Name: ix_system_settings_key; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_system_settings_key ON public.system_settings USING btree (key);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_validation_results_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_validation_results_id ON public.validation_results USING btree (id);


--
-- Name: ix_validation_results_ip_address; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_validation_results_ip_address ON public.validation_results USING btree (ip_address);


--
-- Name: ix_validation_results_scan_job_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_validation_results_scan_job_id ON public.validation_results USING btree (scan_job_id);


--
-- Name: ix_vulnerabilities_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_vulnerabilities_id ON public.vulnerabilities USING btree (id);


--
-- Name: ix_vulnerability_scan_findings_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_vulnerability_scan_findings_id ON public.vulnerability_scan_findings USING btree (id);


--
-- Name: ix_vulnerability_scan_findings_ip_address; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_vulnerability_scan_findings_ip_address ON public.vulnerability_scan_findings USING btree (ip_address);


--
-- Name: ix_vulnerability_scan_findings_scan_job_id; Type: INDEX; Schema: public; Owner: vulnscope
--

CREATE INDEX ix_vulnerability_scan_findings_scan_job_id ON public.vulnerability_scan_findings USING btree (scan_job_id);


--
-- Name: asset_discovery_results asset_discovery_results_scan_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.asset_discovery_results
    ADD CONSTRAINT asset_discovery_results_scan_job_id_fkey FOREIGN KEY (scan_job_id) REFERENCES public.scan_jobs(id);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: auth_scan_findings auth_scan_findings_scan_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.auth_scan_findings
    ADD CONSTRAINT auth_scan_findings_scan_job_id_fkey FOREIGN KEY (scan_job_id) REFERENCES public.scan_jobs(id);


--
-- Name: enumeration_results enumeration_results_scan_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.enumeration_results
    ADD CONSTRAINT enumeration_results_scan_job_id_fkey FOREIGN KEY (scan_job_id) REFERENCES public.scan_jobs(id);


--
-- Name: firewall_rules firewall_rules_vulnerability_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.firewall_rules
    ADD CONSTRAINT firewall_rules_vulnerability_id_fkey FOREIGN KEY (vulnerability_id) REFERENCES public.vulnerabilities(id);


--
-- Name: installed_software installed_software_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.installed_software
    ADD CONSTRAINT installed_software_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id);


--
-- Name: license_activations license_activations_license_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.license_activations
    ADD CONSTRAINT license_activations_license_id_fkey FOREIGN KEY (license_id) REFERENCES public.licenses(id);


--
-- Name: port_scan_results port_scan_results_scan_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.port_scan_results
    ADD CONSTRAINT port_scan_results_scan_job_id_fkey FOREIGN KEY (scan_job_id) REFERENCES public.scan_jobs(id);


--
-- Name: port_scan_summaries port_scan_summaries_scan_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.port_scan_summaries
    ADD CONSTRAINT port_scan_summaries_scan_job_id_fkey FOREIGN KEY (scan_job_id) REFERENCES public.scan_jobs(id);


--
-- Name: remediation_library remediation_library_vulnerability_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.remediation_library
    ADD CONSTRAINT remediation_library_vulnerability_id_fkey FOREIGN KEY (vulnerability_id) REFERENCES public.vulnerabilities(id);


--
-- Name: reports reports_generated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_generated_by_fkey FOREIGN KEY (generated_by) REFERENCES public.users(id);


--
-- Name: reports reports_scan_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_scan_job_id_fkey FOREIGN KEY (scan_job_id) REFERENCES public.scan_jobs(id);


--
-- Name: risk_scoring_results risk_scoring_results_scan_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.risk_scoring_results
    ADD CONSTRAINT risk_scoring_results_scan_job_id_fkey FOREIGN KEY (scan_job_id) REFERENCES public.scan_jobs(id);


--
-- Name: scan_results scan_results_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.scan_results
    ADD CONSTRAINT scan_results_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id);


--
-- Name: scan_results scan_results_scan_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.scan_results
    ADD CONSTRAINT scan_results_scan_job_id_fkey FOREIGN KEY (scan_job_id) REFERENCES public.scan_jobs(id);


--
-- Name: service_fingerprint_results service_fingerprint_results_scan_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.service_fingerprint_results
    ADD CONSTRAINT service_fingerprint_results_scan_job_id_fkey FOREIGN KEY (scan_job_id) REFERENCES public.scan_jobs(id);


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: validation_results validation_results_scan_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.validation_results
    ADD CONSTRAINT validation_results_scan_job_id_fkey FOREIGN KEY (scan_job_id) REFERENCES public.scan_jobs(id);


--
-- Name: vulnerabilities vulnerabilities_cve_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.vulnerabilities
    ADD CONSTRAINT vulnerabilities_cve_id_fkey FOREIGN KEY (cve_id) REFERENCES public.cve_catalog(cve_id);


--
-- Name: vulnerabilities vulnerabilities_scan_result_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.vulnerabilities
    ADD CONSTRAINT vulnerabilities_scan_result_id_fkey FOREIGN KEY (scan_result_id) REFERENCES public.scan_results(id);


--
-- Name: vulnerability_scan_findings vulnerability_scan_findings_scan_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vulnscope
--

ALTER TABLE ONLY public.vulnerability_scan_findings
    ADD CONSTRAINT vulnerability_scan_findings_scan_job_id_fkey FOREIGN KEY (scan_job_id) REFERENCES public.scan_jobs(id);


--
-- PostgreSQL database dump complete
--

\unrestrict yeYHzZ3az1ton9mkz7SH2qxVO6KJrcPB1jy0FhtU3OZow8yXJvGjc5f0aYHZxRz

